.calendar_container{
    width: 100%; 
    height: auto;
    position: relative;
    background-image: url(../images/landing05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.calendar_card {
    perspective: 140rem;
    -moz-perspective: 140rem;
    height: 25rem;
    position: relative;
    width: 20rem;
    
}

.card__side {
        height: 25rem;
        text-align: center;
        color: white;
        transition: all 1.2s ease;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 3rem rgba(black, .4);
        opacity: .9;
}

.card__side--front {
    background-color: white;
}

.card__side--front-1 {
    background-color: rgba(8, 49, 184, 0.8);
}

.calendar__month {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #e4e8e9;
    position: absolute;
    top: 4rem;
    left: 20%;
    width: 60%;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calendar_day {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 4rem;
    color: #e4e8e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calendar_year {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 4rem;
    color: #e4e8e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card__side--back{
    transform: rotateY(180deg);
}

.card__side--back-1{
    background-color: rgba(3,41,165, .8);
}

.calendar_card:hover .card__side--front{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.calendar_card:hover .card__side--back{
    transform: rotateY(0);
    cursor: pointer;
}